<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title #{title}
  
  link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/style.css")
  
  script(src="/bower_components/angular/angular.js", charset="utf-8")
  script(src="/bower_components/angular-ui-router/release/angular-ui-router.js", charset="utf-8")
  
  script(src="/js/module.js")
  script(src="/js/controllers/mainCtrl.js")
  script(src="/js/controllers/albumCtrl.js")
  script(src="/js/controllers/viewImageCtrl.js")
  script(src="/js/services/albums.js")
  
body(ng-app='myApp', ng-controller='mainCtrl')
  .container-fluid
    h1 #{title}
    .row
      .col-xs-3(ui-view='albumList')
      .col-xs-9(ui-view='mainView')
